# Local scratch
w.txt

# Maven / Java build outputs
**/target/
*.class

# Docker files
Dockerfile.consumer.minimal
Dockerfile.producer.minimal
Dockerfile.stream.minimal


# Minikube binary
minikube-linux-amd64